* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    background-color: #1F1E30;
}

.data-container{
    display: block;
    width: 80%;
    margin-top: 3%;
    padding-bottom: 15%;
    margin-left: 10%;
    background-color: #171621;
    border-radius: 10px;
}

.data{
    text-align: center;
}

.data-title{
    padding-top: 2%;
    margin-top: 3%;
    padding-bottom: 1%;
}

#short-url-link{
    text-decoration: none;
}

#h3-link:hover{
    color: grey;
}


.btns{
    width: 150px;
    height: 50px;
    margin-top: 3%;
    border-style: solid;
    border-width: 2px;
    background-color: #171621;
    border-color: white;
    border-radius: 5px;
    color: white;
}

.btns:hover{
    background-color: #1F1E30;
}

#copy-alert-message{
    position: absolute;
    text-align: center;
    margin-top: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 640px){

    .data-container{
        margin-top: 50%;
    }

    .data-title{
        font-size: 1.2em;
        padding-top: 5%;
    }
    .data-result{
        font-size: 0.8em;
    }
}
