<!DOCTYPE html>
<html>

    <head>

        <title>Shortio</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Jquery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


        <!-- Css -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/short-url.css') }}">

    </head>

    <body>

        <div class="data-container">

            {% set short_url = request.args.get('short_url') %}
            {% set original_url = request.args.get('original_url') %}
            {% set complete_url = 'https://' + short_url %}


            <h1 class="data data-title" >Original Url</h1>
            <h3 class="data data-result">{{ original_url }} </h3>

            <h1 class="data data-title">Short Url</h1>
            <div style="text-align: center">
                <a id="short-url-link" class="data data-result" href="{{ complete_url }}"><h3 id="h3-link" class="data-result">{{ short_url }}</h3></a>
            </div>
        </div>

    </body>

</html>