<!DOCTYPE html>
<html>

    <head>

        <title>Shortio</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Jquery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


        <!-- Css -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/short-url.css') }}">


        <!-- Clipboard -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

        <!-- FontAwesome-->

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    </head>

    <body>

        <div class="data-container">

            {% set short_url = request.args.get('short_url') %}
            {% set original_url = request.args.get('original_url') %}
            {% set redirect_url = '/s/' + short_url %}
            {% set complete_url = 'localhost:5000/s/' + short_url %}


            <h1 class="data data-title" >Original Url</h1>
            <h3 class="data data-result">{{ original_url }} </h3>

            <h1 class="data data-title">Short Url</h1>
            <div style="text-align: center">
                <a id="short-url-link" class="data data-result" href="{{ redirect_url }}"><h3 id="h3-link" class="data-result">{{ complete_url }}</h3></a>
            </div>

            <div style="text-align:center">
                <button class="btns" id="copy-btn" type="submit" value="{{ short_url }}" data-clipboard-text="{{ complete_url }} ">Copy To Clipboard</button>
            </div>

            <div style="text-align:center">
                <button onClick="location.href='/'" class="btns">Home</button>
            </div>

            <h4 id="copy-alert-message">Copied!</h4>

        </div>


        <script src="{{url_for('static', filename='js/copy-to-clipboard.js')}}"></script>

    </body>

</html>